<div class="panel panel-default" *ngIf="book">
  <div class="panel-heading">{{book.title}} ({{book.isbn}})</div>
  <div class="panel-body">
    <p>{{book.abstract}} <span class="badge">Seitenzahl: {{book.numPages}}</span> </p>
    <p>{{book.publisher.name}} ({{book.publisher.url}})</p>
    <a [routerLink]="['..']">Back</a>
  </div>
  <div class="panel-footer" [orderBtn]="book">{{book.author}}
    <a [routerLink]="['edit']" class="btn btn-default btn-sm">
      edit
    </a>
  </div>
</div>

<pre>
  {{book$ | async | json}}
</pre>
<!-- <hr>
<pre>
  {{book | json}}
</pre> -->